# Arquivos-fonte que não fazem parte do site publicado
# (as versões renomeadas estão em assets/img/)
aegis_story_1080x1920.png
og_image_1200x630.png
logo_aegis_transparente_1024.png
aegis_post_feed_1080x1080.png
PROMPT_SITE_SHIELDLABS.md
